<div dir="rtl">
    <section id="banner">
        <div class="content">
            <h1> בלוג שיתוף ידע </h1>
        </div>
    </section>
    <section id="one" class="wrapper">
        <div class="inner flex flex-3">
            <div class="flex-item left">
                <router-outlet></router-outlet>
            </div>
        </div>
    </section>
    <section id="two" class="wrapper style1 special">
        <div class="inner">
            <h2> Nerya Peled</h2>
            <figure>
                <blockquote> "בלוג בעיברית לשיתוף ידע מקצועי <br> תהנו מאד"</blockquote>
            </figure>
        </div>
    </section>
</div>